@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #16A34A;
  --color-primary-dark: #15803D;
  --color-primary-light: #BBF7D0;
  --color-accent: #F97316;
  --color-accent-dark: #EA6C0A;
}
